.search_button_new {
    width: 181px;
    height: 36px;
    background-color: #007DFE;
    border-radius: 8px;
    border: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    color: #FFF;
    padding: 0;
    margin: 6px 0 0 72px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.search_button_new img {
    margin-right: 20px;
}

button:hover {
    opacity: 80%;
}