.table_search_button_new {
    width: 181px;
    height: 36px;
    background-color: #007DFE;
    border-radius: 8px;
    border: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    color: #FFF;
    padding: 0;
    margin: 6px 0 0 72px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.table_search_button_new img {
    margin-right: 20px;
}

.table_button_more_able {
    width: 300px;
    height: 48px;
    background-color: #007DFE;
    border-radius: 12px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.128px;
    cursor: pointer;
    color: #F5F5F5;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 46px 0;
}

.table_button_more_disable {
    width: 300px;
    height: 48px;
    background-color: #F5F5F5;
    border-radius: 12px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.128px;
    color: #717171;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 46px 0;
}

.table_search_button_new:hover,
.table_button_more_able:hover,
.table_modal_add_button_cancel:hover,
.table_modal_add_button_save:hover,
.table_modal_delete_button_cancel:hover,
.table_modal_delete_button_confirm:hover,
.table_modal_edit_button_save:hover
{
    opacity: 80%;
}

.table_modal_add_button_cancel {
    grid-area: 3 / 1 / 4 / 2;
    width: 150px;
    height: 36px;
    border-radius: 4px;
    border-color: transparent;
    background: #F5F5F5;
    color: #333;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    margin-left: 389px;
    cursor: pointer;
}

.table_modal_add_button_save,
.table_modal_edit_button_save {
    grid-area: 3 / 2 / 4 / 3;
    width: 150px;
    height: 36px;
    border-radius: 4px;
    border-color: transparent;
    background: #007DFE;
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    margin-left: 200px;
    cursor: pointer;
}

.table_modal_delete_button_cancel {
    grid-area: 3 / 1 / 4 / 2;
    width: 150px;
    height: 36px;
    border-radius: 4px;
    border-color: transparent;
    background: #F5F5F5;
    color: #333;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    margin: auto;
    cursor: pointer;
}

.table_modal_delete_button_confirm {
    grid-area: 3 / 2 / 4 / 3;
    width: 150px;
    height: 36px;
    border-radius: 4px;
    border-color: transparent;
    background: #007DFE;
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    margin: auto;
    cursor: pointer;
}