.table h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #333333;
    margin: 40px 0 46px 53px;
    height: 60px;
}

.table h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #333333;
    letter-spacing: -0.03em;
    line-height: 25px;
}

.table p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #717171;
    line-height: 16px;
}

.table_edit img {
    margin-left: 14px;
    cursor: pointer;
}

.table section {
    display: inline-flex
}